<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration Page</title>
</head>
<body>
    <form action="/register" method="POST"> 
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="firstName">FirstName</label>
      <input type="tex" class="form-control" id="firstName" placeholder="firstname" name="firstname">
    </div>
    <div class="form-group col-md-6">
      <label for="lastName">LastName:</label>
      <input type="text" class="form-control" id="lastName" placeholder="lastname" name="lastname">
    </div>
    <div class="form-group col-md-6">
      <label for="username">Username:</label>
      <input type="text" class="form-control" id="username" placeholder="username" name="username">
    </div>
    <div class="form-group col-md-6">
      <label for="phone">Phone:</label>
      <input type="number" class="form-control" id="phone" placeholder="phone" name="phone">
    </div>
    <div class="form-group col-md-6">
      <label for="Email">Email:</label>
      <input type="email" class="form-control" id="Email" placeholder="Email" name="email">
    </div>
    <div class="form-group col-md-6">
      <label for="password">Password:</label>
      <input type="password" class="form-control" id="password" placeholder="Password" name="password">
    </div>
    <div class="form-group col-md-6">
      <label for="cpassword">Re-Password:</label>
      <input type="password" class="form-control" id="cpassword" placeholder="Password" name="confirmPassword">
    </div>
  </div>

  <button type="submit" class="btn btn-primary" name="submitBtn">Sign in</button>
</form>


<h1>THIS IS Registration PAGE</h1>
</body>
</html>